<ul class="sg-colors">
    <li>
		<span class="sg-swatch purple"></span>
		<span class="sg-label">
			.purple <br />
			#772583
		</span>
	</li>
    <li>
		<span class="sg-swatch white"></span>
		<span class="sg-label">
			.white <br />
			#772583
		</span>
	</li>
    <li>
		<span class="sg-swatch black"></span>
		<span class="sg-label">
			.black <br />
			#772583
		</span>
	</li>
</ul>