<ul>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<ul class="white">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<div class="inverted">
    <ul class="grey-4">
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ul>
</div>    