<section>
    <div class="container">
        <div class="hero-grid">
            <a href="#0" class="hero-container half" style="background: url(../../images/placeholder.jpg) no-repeat center; background-size: cover">
                <div class="hero-content">
                    <h3>Large container</h3>
                </div>
            </a>

            <a href="#0" class="hero-container" style="background: url(../../images/placeholder.jpg) no-repeat center; background-size: cover">
                <div class="hero-content">
                    <h3>Tall container</h3>
                </div>
            </a>

            <div class="hero-container hero-column">
                <a href="#0" class="hero-container" style="background: url(../../images/placeholder.jpg) no-repeat center; background-size: cover">
                    <div class="hero-content">
                        <h3>Column Container Upper</h3>
                    </div>
                </a>

                <a href="#0" class="hero-container" style="background: url(../../images/placeholder.jpg) no-repeat center; background-size: cover">
                    <div class="hero-content">
                        <h3>Column Container Lower</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>