<section class="midgrey">
    <div class="container">
        <div class="col-sm-12">
            <div class="hero-grid">
                <a href="#0" class="hero-container half" style="background: url(../../images/HeroImage01.jpg) no-repeat top center; background-size: cover">
                    <div class="hero-content">
                        <h3>BPP University Law School Events</h3>
                    </div>
                </a>
                <a href="#0" class="hero-container" style="background: url(../../images/HeroImage02.jpg) no-repeat top center; background-size: cover">
                    <div class="hero-content inverted">
                        <h3>BPP University Law School on Facebook</h3>
                    </div>
                </a>

                <div class="hero-container hero-column">
                    <a href="#0" class="hero-container white">
                        <div class="hero-content inverted">
                            <p class="small">Blog</p>
                            <h3>BPP University Law School Search for UK's Most Talented Advocates</h3>
                            <p class="small bppicon icon-calendarDate">01.11.2016</p>
                        </div>
                    </a>

                    <a href="#0" data-toggle="modal" data-target="#video-modal" class="hero-container play-button" style="background: url(../../images/HeroImage03.jpg) no-repeat top center; background-size: cover">
                        <div class="hero-content">
                            <img src="../../images/play-button.png" style="max-width: 75px;" />
                            <h3>Becoming a Lawyer</h3>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</section>