<header>
    <div class="brand-bar">
        <div class="hamburger visible-xs">
        </div>
        
        <!-- Desktop Logos -->            
        <a href="http://www.bpp.com/professional-education" class="header-logo-desktop">
            <img alt="BPP Professional Education" src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/images/bpp_profed_logo.jpg" />
        </a>
        
        <!-- Mobile Logos -->
        <a href="http://www.bpp.com" class="header-logo-mobile">
            <img src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/images/bbp_mobile_logo.jpg" alt="BPP Professional Education">
        </a>
        
        <a href="tel:03330 000 000" class="InfinityNumber bppicon icon-phone">03330 000 000</a>
    </div>
</header>