<header>
    <!-- Skip nav links for accessibility -->
    <a class="skip-nav" href="#maincontent">Skip to main content</a>
    
    <div class="top-bar">
        <div class="user-type">
            <a href="" class="active">Students</a>
            <a href="">Employers</a>
        </div>
        
        <div class="session-nav">
            <a href="#0" class="bppicon icon-shoppingBasket"><span class="icon-hide-text">Basket</span></a>
            <a href="http://www.bpp.com/accounts" class="bppicon icon-user"><span class="icon-hide-text">Accounts</span></a>
            <a href="http://www.bpp.com/site-search" class="bppicon icon-search"><span class="icon-hide-text">Search</span></a>
        </div>
    </div>
    
    <div class="brand-bar">
        <div class="hamburger visible-xs">
        </div>
        
        <!-- Desktop Logos -->
        <a href="http://www.bpp.com/bpp-university" class="header-logo-desktop">
            <img alt="BPP University" src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/images/bpp_uni_logo.jpg" />
        </a>
            
        <a href="http://www.bpp.com/professional-education" class="header-logo-desktop">
            <img alt="BPP Professional Education" src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/images/bpp_profed_logo.jpg" />
        </a>
        
        <!-- Mobile Logos -->
        <a href="http://www.bpp.com" class="header-logo-mobile">
            <img src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/images/bbp_mobile_logo.jpg" alt="BPP Professional Education">
        </a>
        
        <a href="tel:03330 000 000" class="InfinityNumber bppicon icon-phone"><span class="hide-text-mobile">03330 000 000</span></a>
    </div>
    
    <div class="sub-nav">
    </div>
</header>