<div class="card-programme-container">
    <a href="#0" class="card card-programme">
        <img src="../../images/programme-card-placeholder.jpg" class="card-programme-img" alt="" />
        <div class="card-programme-info">
            <h3 title="Employer Guide: Apprenticeship Levy Key Facts">Employer Guide: Apprenticeship Levy Key Facts</h3>
            <p>The ICAEW Certificate in Finance Accounting and Business will provide you with a comprehensive grounding in the business, accounting and finance.</p>
        </div>
    </a>
</div>