<section class="no-pad white">
    <div class="feature-section">
        <div class="feature-60 mobile-order-2 vh-50 vh-mobile-auto">
            <div class="feature-container">
                <h2>60% section</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="feature-40 no-pad mobile-order-1" style="background: url(../../images/placeholder.jpg) no-repeat left center; background-size:cover;">
            <div class="feature-container">
                <img class="visible-xs visible-sm" src="../../images/placeholder.jpg" alt="Testimomial Placeholder">
            </div>
        </div>
    </div>
</section>

<section class="no-pad white">
    <div class="feature-section">
        <div class="feature-40 mobile-order-2 vh-50 vh-mobile-auto">
            <div class="feature-container">
                <h2>40% section</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="feature-60 no-pad mobile-order-1" style="background: url(../../images/placeholder.jpg) no-repeat left center; background-size:cover;">
            <div class="feature-container">
                <img class="visible-xs visible-sm" src="../../images/placeholder.jpg" alt="Testimomial Placeholder">
            </div>
        </div>
    </div>
</section>