<div class="accordion-container">

    <div class="accordion-slide">
        <div>
            <h3>Accordion Slide Title 1</h3>
        </div>
        <div>
            <div class="accordion-slide">
                <div>
                    <h3>Accordion Level 2 Title 1</h3>
                </div>
                <div>
                    <p>Accoridon level 2 content 1</p>
                </div>
            </div>

            <div class="accordion-slide">
                <div>
                    <h3>Accordion Level 2 Title 2</h3>
                </div>
                <div>
                    <p>Accoridon level 2 content 2</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-slide">
        <div>
            <h3>Accordion Slide Title 2</h3>
        </div>
        <div>
            <p>Accoridon content 2</p>
        </div>
    </div>

    <div class="accordion-slide">
        <div>
            <h3>Accordion Slide Title 3</h3>
        </div>
        <div>
            <p>Accoridon content 3</p>
        </div>
    </div>

</div>