<div class="container">
    <div class="card-download-container">
        <a href="#0" class="card card-download">
            <div class="card-download-info">
                <h3>Employer Guide: Apprenticeship Levy Key Facts</h3>
                <img src="../../images/download-icon.png"><p>PDF | 226kb</p>
            </div>

            <img src="../../images/download-placeholder.png" class="card-download-img" alt="" />
        </a>


        <a href="#0" class="card card-download">
            <div class="card-download-info">
                <h3>Trailblazers: The Future of Apprenticeships</h3>
                <img src="../../images/download-icon.png"><p>PDF | 226kb</p>
            </div>

            <img src="../../images/download-placeholder-2.png" class="card-download-img" alt="" />
        </a>


        <a href="#0" class="card card-download">
            <div class="card-download-info">
                <h3>The Apprenticeship Levy Study: Financial Services</h3>
                <img src="../../images/download-icon.png"><p>PDF | 226kb</p>
            </div>

            <img src="../../images/download-placeholder-3.png" class="card-download-img" alt="" />
        </a>
    </div>
</div>