<footer> 
    <p class="pull-left">© 2017 Copyright notice</p> 
    <div class="footer-menu"> 
        <a class="navigation-tip bppicon block-icon icon-caretNorth text-center pull-left more">More</a> 
        <!--<a class="bppicon icon-twitter text-center">&nbsp;</a> 
        <a class="bppicon icon-facebook text-center">&nbsp;</a> 
        <a class="bppicon icon-youtube text-center">&nbsp;</a> -->
    </div>                 
    <nav> 
        <ul> 
            <li>
                <a href="#0">Link 1</a>
            </li>  
            <li>
                <a href="#0">Link 2</a>
            </li>                     
        </ul>                    
    </nav>                 
</footer>