<div id="consentDiv">
	<p>This site uses cookies. By continuing to browse this site you are agreeing to our use of cookies.<br>
		<a href="https://www.bpp.com/terms/l/cookie-policy">Find out more</a>
	</p>
	<a id="cookieButton" class="btn" href="#" onclick="clearPopUp()">Accept</a>
</div>