<ul class="sg-colors">
    <li>
        <span class="sg-swatch purple-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #772583 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch purple-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #FFFFFF - #772583
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-1-split"></span>
        <span class="sg-label">
            .grey-1-split <br />
            #A7A9AC - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-1-split-reverse"></span>
        <span class="sg-label">
            .grey-1-split-reverse <br />
            #FFFFFF - #A7A9AC
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-2-split"></span>
        <span class="sg-label">
            grey-2-split <br />
            #31343D - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-2-split-reverse"></span>
        <span class="sg-label">
            .grey-2-split-reverse <br />
            #FFFFFF - #31343D
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-3-split"></span>
        <span class="sg-label">
            .grey-3-split <br />
            #686868 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-3-split-reverse"></span>
        <span class="sg-label">
            .grey-3-split-reverse <br />
            #FFFFFF - #686868
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-4-split"></span>
        <span class="sg-label">
            .grey-4-split <br />
            #4A4A4A - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-4-split-reverse"></span>
        <span class="sg-label">
            .grey-4-split-reverse <br />
            #FFFFFF - #F3F3F3
        </span>
	</li>
</ul>
