<span class="bppicon icon-daytime">icon-daytime</span>

<span class="bppicon icon-daytime small-icon">&nbsp;</span>

<span class="bppicon icon-daytime medium-icon">&nbsp;</span>

<span class="bppicon icon-daytime large-icon">&nbsp;</span>