<ul class="sg-colors">
    <li>
        <span class="sg-swatch purple-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #772583 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch purple-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #FFFFFF - #772583
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-1-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #A7A9AC - #FFFCFC
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-1-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #FFFCFC - #A7A9AC
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-2-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #772583 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-2-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #F3F3F3
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-3-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #772583 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-3-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #F3F3F3
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-4-split"></span>
        <span class="sg-label">
            .purple-split <br />
            #772583 - #FFFFFF
        </span>
    </li>
    <li>
        <span class="sg-swatch grey-4-split-reverse"></span>
        <span class="sg-label">
            .purple-split-reverse <br />
            #F3F3F3
        </span>
	</li>
</ul>
