<section class="no-pad white">
    <div class="feature-section">
        <div class="feature-100 vh-50" style="background: url(../../images/placeholder.jpg) no-repeat left center; background-size:cover;">
            <div class="feature-container">
                <div class="col-sm-6 inverted">
                    <h2>100% section</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>