<ul class="tick-list">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<ul class="tick-list white">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<ul class="tick-list grey-4 inverted">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>