<section class="no-pad white">
    <div class="feature-section container">
        <div class="feature-60 mobile-order-2">
            <div class="feature-container">
                <h2>"What stood out most at BPP is the student support - both career support and teaching support"</h2>
                <p>"Every tutor is easily accessible and willing to talk and help you. I was working full time throughout my course so I needed a certain level of flexibility which was always provided without hesitation"</p>
                <p>Jaspreet Atwal, MA LPC with Business<br>Training contract at Anthony Collins Solicitor</p>
            </div>
        </div>

        <div class="feature-40 no-pad fade-right mobile-order-1" style="background: url(../../images/Jaspreet_Atwal_Testimonial.jpg) no-repeat left center; background-size:cover;">
            <img class="visible-xs visible-sm" src="../../images/Jaspreet_Atwal_Testimonial_mobile.jpg" alt="Testimomial Placeholder">
        </div>
    </div>
</section>