<div class="container">
    <div class="card-programme-container show-more">
        <a href="#0" class="card card-programme">
            <img src="https://md-bpp.github.io/Digital_Interaction_Guidelines_Public/images/programme-card-placeholder.jpg" class="card-programme-img" alt="" />
            <div class="card-programme-info">
                <h3 title="Senior Financial Services Customer Advisor Apprenticeship Standard Level 3">Senior Financial Services Customer Advisor Apprenticeship Standard Level 3</h3>
                <p>Designed by leading financial services organisations, this apprenticeship will develop technical Knowledge, Skills and Behaviours across front line roles in banking, savings and insurance in order to understand customer needs and provide individuals, businesses or a small portfolio of accounts with the right products and services.</p>
            </div>
        </a>


        <a href="#0" class="card card-programme">
            <img src="https://md-bpp.github.io/Digital_Interaction_Guidelines_Public/images/programme-card-placeholder-2.jpg" class="card-programme-img" alt="" />
            <div class="card-programme-info">
                <h3 title="Financial Services Degree Apprenticeship">Financial Services Degree Apprenticeship</h3>
                <p>This Degree Apprenticeship is designed to bring together a range of financial services disciplines, with a balance of technical competence and intellectual and practical skills that will support apprentices both as learners and as future financial services professionals.</p>
            </div>
        </a>


        <a href="#0" class="card card-programme">
            <img src="https://md-bpp.github.io/Digital_Interaction_Guidelines_Public/images/programme-card-placeholder-3.jpg" class="card-programme-img" alt="" />
            <div class="card-programme-info">
                <h3 title="Assistant Accountant Apprenticeship Standard Level 3">Assistant Accountant Apprenticeship Standard Level 3</h3>
                <p>An assistant accountant provides support to internal and external customers and will work within a practice or the finance function of an organisation. Part of their role will involve assisting in the day-to-day financial activities such as data entry to month-end management accounts and/or year-end financial statements.</p>
            </div>
        </a>


        <a href="#0" class="card card-programme">
            <img src="https://md-bpp.github.io/Digital_Interaction_Guidelines_Public/images/programme-card-placeholder-4.jpg" class="card-programme-img" alt="" />
            <div class="card-programme-info">
                <h3 title="Professional Accountancy/Taxation Technician Apprenticeship Standard Level 4">Professional Accountancy/Taxation Technician Apprenticeship Standard Level 4</h3>
                <p>Our Level 4 Higher Apprenticeships are designed as an entry level role into the Accountancy and/or Taxation Sectors. Roles are applicable to organisations of all sizes and to Apprentices in Accountancy and Taxation Practices including finance functions in Private, Public and Charity Sector organisations. </p>
            </div>
        </a>


        <a href="#0" class="card card-programme">
            <img src="https://md-bpp.github.io/Digital_Interaction_Guidelines_Public/images/programme-card-placeholder-5.jpg" class="card-programme-img" alt="" />
            <div class="card-programme-info">
                <h3 title="Chartered Manager Degree Apprenticeship">Chartered Manager Degree Apprenticeship</h3>
                <p>This Degree Apprenticeship is suitable for those entering or already in management positions. It is designed to build an individual's capability to successfully manage people, projects, operations and/or services.</p>
            </div>
        </a>
    </div>
    <div class="col-sm-12">
    <a href="#0" class="btn btn-primary show-more-btn">Show more</a>
    </div>
</div>