<a href="" class="btn btn-primary" data-toggle="modal" data-target="#new-modal">Find out more</a>

<div class="modal fade" id="new-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Preparing you for practice</h3>
      </div>
      <div class="modal-body">
        <p>The LPC teaching is business-focused to reflect the demand by the profession for commercially-aware trainees. Created in conjunction with leading law firms, our LPC is innovative, dynamic and marketing-leading.</p>
        <p>To ensure you get the most from your LPC, we teach in small groups delivered by experienced tutors who are qualified lawyers. We believe in offering a high level of tutor-student interaction and, throughout your studies you will have the support of a dedicated personal tutor and can sign up for one-to-one mentoring.</p>
        <h3>Free Masters top-up</h3>
        <p>Why walk away with the standard LPC when you can top-up your Postgraduate Diploma to our MA (LPC with Business) or LLM Professional Legal Practice for free?</p>
        <p>Develop the advanced commercial and business acumen that firms demand and ensure that you stand out from the crowd with our MA (LPC with Business). In addition to the Postgraduate Diploma in Legal Practice, you will complete two additional business modules and a Business Intelligence Project that enables you to develop an advanced understanding of the business and strategic environment in which clients and law firms operate and the skills to use this knowledge within legal practice.</p>
      </div>
    </div>
  </div>
</div>