<ul class="sg-colors">
    <li>
        <span class="sg-swatch secondary-blue"></span>
        <span class="sg-label">
            .secondary-blue <br />
            #1D698A
        </span>
    </li>
    <li>
        <span class="sg-swatch secondary-purple"></span>
        <span class="sg-label">
            .secondary-purple <br />
            #D0B3D3
        </span>
	</li>
    <li>
        <span class="sg-swatch secondary-bluegrey"></span>
        <span class="sg-label">
            .secondary-bluegrey <br />
            #5E6474
        </span>
	</li>
    <li>
        <span class="sg-swatch secondary-navy"></span>
        <span class="sg-label">
            .secondary-navy <br />
            #092D66
        </span>
	</li>
</ul>
