<div class="col-sm-12">
 <div class="col-sm-6 col-sm-offset-3">
    <div class="accordion-container">

        <div class="accordion-slide">
            <div>
                <h3 class="bppicon icon-stack">Modules</h3>
            </div>
            <div>
                <h4>Compulsory</h4>
                <ul> 
                    <li> Financial Reporting (15 credits)</li> 
                    <li> Managing Financial Control (15 credits)</li> 
                    <li> Academic Skills &amp; Employability - Part 2 (0 credits)</li> 
                    <li> Corporate Reporting and Analysis (15 credits)</li> 
                    <li> Management in Practice (15 credits)</li> 
                </ul>
                
                <h4>Electives</h4>
                <ul>
                    <li> Managing People &amp; Projects (15 credits)</li> <li> Business Taxation (15 credits)</li> 
                    <li> Managing Knowledge &amp; Information Systems (15 credits)</li> <li> Entrepreneurship (15 credits)</li> 
                    <li> Fundamentals of Auditing (15 credits)</li> <li> Business Operations (15 credits)</li> 
                    <li> Business Law (15 credits)</li> 
                    <li> Financial Markets and Institutions (15 credits)</li> 
                </ul>
            </div>
        </div>

        <div class="accordion-slide">
            <div>
                <h3 class="bppicon icon-modules">Academic Modules</h3>
            </div>
            <div>
                <p>Accoridon content 3</p>
            </div>
        </div>

        <div class="accordion-slide">
            <div>
                <h3 class="bppicon icon-proBono">Award Winning Pro Bono</h3>
            </div>
            <div>
                <div class="accordion-slide">
                    <div>
                        <h3>Clients</h3>
                    </div>
                    <div>
                        <p>Our award-winning Pro Bono Centre take part in a wide range of legal advice and education projects under the supervision of qualified lawyers and gives unrivalled work on actual cases in a wide variety of areas. Pro Bono can provide valuable training in real-life situations that complement the classroom teaching.</p>
                    </div>
                </div>
                <div class="accordion-slide">
                    <div>
                        <h3>Students</h3>
                    </div>
                    <div>
                        <p>Our Pro Bono Centre is an excellent place to start practising your legal and practical skills in a supportive environment. There are a wide range of projects available, including:</p>

                        <ul>
                            <li>Staffing an employment law advice line</li>
                            <li>Delivering legal education presentations in schools</li>
                            <li>Prisons and homeless centres</li>
                            <li>Researching the cases of prisoners who have lost all rights to appeal</li>
                        </ul>

                        <p>Once you begin your studies you will hear from our Pro Bono Centre staff about the different projects and how to sign up.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-slide">
            <div>
                <h3 class="bppicon icon-creditCard">Financial Information</h3>
            </div>
            <div>
                <h3> Fees</h3> 
                <ul> 
                    <li> UK or EU students, three-year degree: £9,000 a year</li> 
                    <li> UK or EU students, two-year degree: £13,500 a year</li> 
                    <li> International students, three-year degree: £12,500 a year</li> 
                    <li> International students, two-year degree: £18,750 a year</li> 
                </ul> 
                <p> If you are self-funding, your first instalment will be due two weeks before the programme commences. If you are funding your fees through the Student Loans Company, please email a copy of your SLC confirmation letter to your Service Representative.</p>
            </div>
        </div>

    </div>
  </div>
</div>