<section class="no-pad lightgrey">
    <div class="feature-section">
        <div class="feature-40 mobile-order-2 vh-50 vh-mobile-auto">
            <div class="feature-container">
                <h3>Fundamentals Level</h3>
                <p>The fundamentals level consists of nine compulsory papers split across two modules; The Knowledge Module (F1-F3) and the Skills Module (F4-F9). Depending on your previous education you may qualify for exemptions from some of the papers at this level</p>
                <p><i>Our full-time fundamentals level programmes give you exemptions from these exams. Our part-time courses prepare you to sit these papers with the ACCA.</i></p>
            </div>
        </div>

        <div class="feature-60 no-pad mobile-order-1">
            <div class="feature-container">
                <img src="../../images/02_F-Papers.png" alt="Testimomial Placeholder">
            </div>
        </div>
    </div>
</section>

<section class="no-pad white">
    <div class="feature-section">
        <div class="feature-60 mobile-order-1">
            <div class="feature-container">
                <img src="../../images/04_Badge.png" alt="Testimomial Placeholder">
            </div>
        </div>

        <div class="feature-40 no-pad mobile-order-2 vh-50 vh-mobile-auto">
            <div class="feature-container">
                <h3>Practical Experience Requirement (PER)</h3>
                <p>To complete PER you must complete 36 months' employment in an accounting or finance-related role. During this time you will need to record and report on your progress and acheive a number of performance objectives.</p>
                <p><i>The three years can consist of full-time or part-time work, temporary positions and internship as long as they meet the ACCA requirements.</i></p>
            </div>
        </div>
    </div>
</section>