<div class="container">
    <h2>Full package</h2>
    <a href="#0" class="btn btn-primary">Download full package</a>

    <h3>Documentation</h3>
    <ul>
        <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/BPP+Digital+Interaction+Guides+Brief.docx">Digital Interaction guidelines briefing doc</a></li>
        <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/Utility+Classes.docx">Utility classes doc</a></li>
    </ul>

    <section>
        <h2>CSS</h2>
        <a href="#0" class="btn">Download CSS package</a>
        <h3>Dependencies</h3>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_bootstrap.scss">_bootstrap.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_font-style.scss">_font-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_variables.scss">_variables.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_global-style.scss">_global-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_typography.scss">_typography.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_utilities.scss">_utilities.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_colour-style.scss">_colour-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/style.scss">style.scss</a></li>
        </ul>

        <h3>Pattern styles</h3>

        <h4>Typography</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_tick-list.scss">_tick-list.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_anchor-list-style.scss">_anchor-list-style.scss</a></li>
        </ul>

        <h4>Buttons</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_button-style.scss">_button-style.scss</a></li>
        </ul>

        <h4>Navigation</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_header-style.scss">_header.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_header-top-bar.scss">_header-top-bar.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_header-brand-bar.scss">_header-brand-bar.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_header-sub-nav.scss">_header-sub-nav.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_breadcrumb-style.scss">_breadcrumbs.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_on-page-nav.scss">_on-page-nav.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_slider-nav-style.scss">_slider-nav-style.scss</a></li>
        </ul>

        <h4>Cards</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_card-style.scss">_card-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_card-programme.scss">_card-programme.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_card-programme-carousel.scss">_card-programme-carousel.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_card-download.scss">_card-download.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_card-profile.scss">_card-profile.scss</a></li>
        </ul>

        <h4>Features</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_feature-style.scss">_feature-style.scss</a></li>
        </ul>

        <h4>Grids</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_hero-grid.scss">_hero-grid.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_location-grid.scss">_location-grid.scss</a></li>
        </ul>

        <h4>Forms</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_form-styles.scss">_form-styles.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_int-form-style.scss">_int-form-style.scss</a></li>
        </ul>

        <h4>Presentation</h4>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_accordion-style.scss">_accordion-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_tab-group-style.scss">_tab-group-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_modal-style.scss">_modal-style.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_modal-profile.scss">_modal-profile.scss</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/css/_modal-video.scss">_modal-video.scss</a></li>
        </ul>
    </section>

    <section>
        <h2>Javascript</h2>

        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/1_jquery-1.11.3.min.js">jQuery.min.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/2_jqueryMobile-1.4.5.min.js">jQueryMobile.min.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/3_jqueryUI.js">jQueryUI.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/6_jQueryValidation.js">jQueryValidation.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/7_jQueryIntPhone.js">jQueryIntPhone.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/8_bootstrap.js">bootstrap.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/21_dotdotdot.js">dotdotdot.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/22_waypoint.js">waypoint.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/23_hoverIntent.js">hoverIntent.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/24_navigation.js">navigation.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/scripts.js">scripts.js</a></li>
        </ul>

        <h3>Video</h3>
        <p>JW Player requires a key to connect with the BPP account. This is available on request from matthewdenny@bpp.com.</p>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/jwplayer.js">JWPlayer.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/JWPlayer-custom-init.txt">JW Player customisation</a></li>
        </ul>

        <h3>Live chat</h3>
        <p>The below initialisation file has the clickable asset as an image, this however can be replaced with any code so long as it retains the id, onclick and inline styling</p>
        <ul>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/livechat.js">LiveChat.js</a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/developer-assets/javascript/live-chat-init.txt">Live Chat initialisation</a></li>
        </ul>

        <a href="#0" class="btn">Download JS package</a>
    </section>
</div>