<section>
    <div class="tab-group section-nav"> 
        <ul> 
            <li>
                <a href="#0" class="active">Adult</a>
            </li>                                 
            <li>
                <a href="#0">Child</a>
            </li>
            <li>
                <a href="#0">Mental health</a>
            </li>
        </ul>                             
        <div class="section-wrapper"> 
            <div> 
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2>Adult nursing as a career</h2>

                        <img src="../../images/adult-nursing-banner.png">
                        <p>As an adult nurse, you will be working with healthcare teams, patients and their families while respecting patient rights, choices and wishes. You will be assisting in the diagnosis, observation, testing and treatments of patients in your care.</p> 

    <p>No two days are ever the same. As an adult nurse, you will be articulate, flexible and work well under pressure. On a daily basis you are likely to be  monitoring patients, taking blood tests, administering medication and reviewing patient progress.</p>

    <p>Adult nurses work in numerous settings such as the NHS, private clinics, hospices, charities, community health centres and other healthcare providers.</p>

                    </div>

                </div> <!-- container close -->
            </div>                                 
            <div> 
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2>Child nursing as a career</h2>
                         <img src="../../images/child-nursing-banner.png">
                        <p>A career in child nursing is a demanding but rewarding career path. As a children’s nurse you will work with children of all ages, their families, primary care givers and social workers. This would cover a wide range of health conditions associated to children.</p>  
                        <p>You will also be responsible for assessing patient care requirements, monitoring and administering medication, comforting children and their parents, writing records and dealing with emergencies.</p> 
    <p>Children’s nurses usually work in the NHS, charities, schools, GP practices or healthcare agencies. This type of nursing is diverse and is predominantly hospital based.</p>


                    </div>
                </div> 
            </div> 

             <div> 
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2>Mental Health nursing as a career</h2>

                         <img src="../../images/mental-health-banner.png">
                      <p>Mental health nurses work with a variety of people or can specialise in a particular field of practice such as offenders, adolescent or adult patients. Typical tasks would include assessing and supporting patients, encouraging them to take on therapies, physical care and providing medication.</p>

                        <p>You will work closely with support workers, psychiatrists, clinical psychologists and health visitors, social workers or the police. Some of your work will be centred around discussing care requirements, building relationships, applying de-escalation techniques, administering medication and maintaining patient records.</p> 
                        <p>Mental health nurses can work in the NHS, prisons, private clinics, rehabilitation units, outpatient departments or community units.</p> 
                    </div>

                </div> <!-- container close -->
            </div> 
         </div>
    </div>
</section> 