<ul class="sg-colors">
    <li>
        <span class="sg-swatch lightgrey"></span>
        <span class="sg-label">
            .lightgrey <br />
            #F3F3F3
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-1"></span>
        <span class="sg-label">
            .grey-1 <br />
            #A7A9AC
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-2"></span>
        <span class="sg-label">
            .grey-2 <br />
            #808285
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-3"></span>
        <span class="sg-label">
            .grey-3 <br />
            #5C6166
        </span>
	</li>
    <li>
        <span class="sg-swatch grey-4"></span>
        <span class="sg-label">
            .grey-4 <br />
            #414042
        </span>
	</li>
    <li>
        <span class="sg-swatch transparent"></span>
        <span class="sg-label">
            .transparent <br />
            shows colour below
        </span>
	</li>
</ul>
